climatechangeimpact/regions/*/*/step_4_analyse* !text !filter !merge !diff
climatechangeimpact/regions/*/*/*.ipynb filter=lfs diff=lfs merge=lfs -text
climatechangeimpact/regions/*/*/step_4_analyse* !text -filter -merge -diff
